doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=ç, initial-scale=1.0')
    title Document
  body
    h1 ADMIN
    button.boton1(type='submit') CREAR NUEVA PELÍCULA
    br
    div
    button(type='submit') EDITAR
    button(type='submit') ELIMINAR
    p #{titulo}
    p #{resumen}
                    