<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CREAR PELÍCULA</h1>

    <div>DIV DE IMAGEN</div>
    <input type="text" id="title" placeholder="Título"><br>
    <input type="text" id="year" placeholder="Año"><br>
    <input type="text" id="director" placeholder="Director"><br>
    <input type="text" id="gender" placeholder="Género"><br>
    <input type="text" id="duration" placeholder="Duración"><br>
    <button type="submit" class="boton1">CREAR</button>
</body>
</html>