doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body
    h1 CREAR PELÍCULA
    div DIV DE IMAGEN
    input#title(type='text' placeholder='Título' required)
    br
    input#year(type='text' placeholder='Año' required)
    br
    input#director(type='text' placeholder='Director' required)
    br
    input#gender(type='text' placeholder='Género' required)
    br
    input#duration(type='text' placeholder='Duración' required)
    br
    button.boton1(type='submit') CREAR