doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='https://img.icons8.com/doodle/48/000000/popcorn.png')
    title Borrar película
  body
    h1 Se ha eliminado la pelicula
      a(href=`../admin`) VOLVER AL PANEL DE ADMINISTRADOR
