doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../Public/css/admin.css', type='text/css' )
    script(src='../Public/js/admin.js' defer)
    title Document
  body
    h2 EDITAR PELICULA
    form#formEditMovie
      input#title(type='text' placeholder='Título' name="title" value= data[0].Title required)
      br
      input#year(type='text' placeholder='Año' name="year" value= data[0].Year required)
      br
      input#director(type='text' placeholder='Director' name="director" value= data[0].Director required)
      br
      input#genre(type='text' placeholder='Género' name="genre" value= data[0].Genre required)
      br
      input#duration(type='text' placeholder='Duración' name="duration"  value= data[0].Runtime required)
      br
      input#poster(type='text' placeholder='Imagen' name="poster"  value= data[0].Poster required)
      br
      input#IdMovie(type="text" name="IdMovie" value=data[0].IdMovie readonly)
      br
      button#editMovieButton(type='submit') Aceptar
      br
      a(href=`/admin`) 
        button#backButton(type='button') Volver
  