<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='../Public/CSS/style.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
</head>
<body class="divHome">
    
    <h1>MOVIE UP!!</h1>

    <form action="/" method="POST" class="classForm"></form>

    <p>Ya estas registrado?</p>
    <input type="text" id="email"class="input" placeholder="EMAIL"><br>
    <input type="text" id="password"class="input" placeholder="PASSWORD"><br>
    <button type="submit" class="boton1">LOG IN</button>
    <br>
    <br>
    <p>Aún no lo estas?</p>
    <input type="text" id="email"class="input" placeholder="EMAIL"><br>
    <input type="text" id="password"class="input" placeholder="PASSWORD"><br>
    <input type="text" id="password"class="input" placeholder="REPEAT PASSWORD"><br>
    <button type="submit" class="boton1">SIGN UP</button><br><br><br>
    <a class="rrss"href="href='/auth/google'">Google</a>
    
</body>
</html>