doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway:wght@400;800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../Public/css/home.css')
    link(rel='stylesheet' href='../Public/css/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway:wght@400;800&display=swap' rel='stylesheet')
    script(src='../Public/js/user.js' defer)
    script(src='../Public/js/user.js' defer)    
    script(src='../Public/js/changeLogin.js' defer) 
  body.divHome
    h1 MOVIEAPP
    #divLogin
      form#formLogin(action="/" method="POST")
        input(type='email' placeholder="Introduce Email" name='loginEmail' required)
        input(type='password' placeholder="Introduce Password" name='loginPasswordUser' required)
        br
        button.boton1(type='submit' name='SubmitLogUser' ) Aceptar
        br
        br 
      a(href='/auth/google') 
        img#googleAuth(src="../Public/img/googleAuth.png")
        br   
      p#goToRegister  No eres usuario?
      
    #divSignUp
      p#goToLogin  Login?
      #TituloH1
        h1 SingUp
      #errorMsg
       
      form#formSingUp(action="/singUp" method="POST")
        input#name(type='text' placeholder='Introduce tu nombre' name='singUpUser' required)
        br
        input#email(type='email' placeholder='Introduce tu email' name='singUpEmail' required)
        br
        input#password(type='password' placeholder='Introduce tu contraseña' name='singUpPass' required)
        br
        input#repassword(type='password' placeholder='Repite tu contraseña' name='singUpRePass' required)
        br
        button#singUpButton.boton1(type='submit' name="singUpButton") Aceptar
        br
      


    if flag == true
        .box
            .box-cont
                span Mensaje:
                p#resultado #{message}
                br
                a#oka(href=link) Aceptar
    else 
        .boxNone
            .box-cont
                p#resultado #{message}
                br
                a#oka(href=link) Aceptar
