doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../Public/CSS/style.css')
  body.divHome
    h1 HOME
      | FORMULARIO DE LOGIN
      form#formLogin(action="/" method="POST")
        input(type='text' placeholder="Introduce Usuario" name='loginUser' required )
        
        input(type='text' placeholder="Introduce Password" name='loginPasswordUser' required)
         
        button(type='submit' name='SubmitLogUser' ) ENVIAR
    
    p Aún no lo estas?
    input#email.input(type='text' placeholder='Introduce tu Email...' required)
    br
    input#password.input(type='text' placeholder='Nueva contraseña...' required)
    br
    input#password.input(type='text' placeholder='Repite tu contraseña...' required)
    br
    button.boton1(type='submit') SIGN UP

    if flag == true
        .box
            .box-cont
                span Mensaje:
                p#resultado #{message}
                br
                a#oka(href=link) Aceptar
    else 
        .boxNone
            .box-cont
                p#resultado #{message}
                br
                a#oka(href=link) Aceptar
