<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/CSS/style.css">
</head>
<body class="divHome">
    
    <h1>HOME</h1>

    <form action="/" method="POST" class="classForm"></form>

    <p>Ya estas registrado?</p>
    <input type="text" id="email"class="input" placeholder="Introduce tu Email..."><br>
    <input type="text" id="password"class="input" placeholder="Introduce tu contraseña..."><br>
    <button type="submit" class="boton1">LOG IN</button>
    <br>
    <br>
    <p>Aún no lo estas?</p>
    <input type="text" id="email"class="input" placeholder="Introduce tu Email..."><br>
    <input type="text" id="password"class="input" placeholder="Nueva contraseña..."><br>
    <input type="text" id="password"class="input" placeholder="Repite tu contraseña..."><br>
    <button type="submit" class="boton1">SIGN UP</button>
    
</body>
</html>