 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <label>FORMULARIO DE REGISTRO
        <form id="formRegister">
<input type="text" name="loginUser-Register">
<button type="submit" name="SubmitLogUserRegister"></button>


</form>

<label>FORMULARIO DE LOGIN
    <form id="formLogin">
    <input type="text" name="loginUser">
    <button type="submit" name="SubmitLogUser">eNVI</button>
    
    
    </form>


</body>
 
</html>