<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SEARCH</h1>

    <input type="text" id="search" placeholder="Buscar Película"><br>
    <button type="submit">BUSCAR!</button>
    <div>DIV DE IMAGEN</div>
    <p>Título:</p>
    <p>Año:</p>
    <p>Director:</p>
    <p>Duración:</p>
    <p>Género:</p>
    <button type="submit" class="boton1">INICIO</button>
</body>
</html>