<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Title</title>
    <link rel='stylesheet' href='../Public/CSS/style2.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway:wght@400;800&display=swap" rel="stylesheet">

</head>
<body>
    <h1>DETALLES</h1>
    <div>
        <div>IMAGEN</div>
        <button type="submit"  class="botonFav">FAVORITOS</button>
        <section>
            <p>Título:</p>
            <p>Año:</p>
            <p>Director:</p>
            <p>Duración:</p>
            <p>Género:</p>
            <p>Sinopsis:</p>
            <p>Rating:</p>
            <p>Opiniones de otras fuentes:</p>
        </section>
        
        <div>
            DIV PARA SCRAPING
        </div>
    </div>
    
</body>
</html>