doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    body 
        h1 for Each/lop
        ul
           for result in arrayVacio
             li Título #{result.Title}
             li Año #{result.Year}
             li Director #{result.Director}   
             li Actores '#{result.Actors} 
             br