body{

    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;

}

#divContainer{


    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
label{
    display: flex;
    font-size: 1.2rem;
}


button{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: #F2E812;
    font-size: 16px;
    margin-left: 30%;
    border: solid;
    border-radius: 20px;
    width: 40%;
    
    margin: 15px 0px 5px 0px;
  }

  h2{
    margin-top: 5%;
    color: white;
    text-align: center;

  }