body{
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
}
 
 
#filmContainer{
 
  width: 100%;
/*   background-color: red; */
-webkit-box-shadow: 1px -1px 50px -15px #fff; 
box-shadow: 1px -1px 50px -15px #fff;
 
}


#favMovies{
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
 /*  background-color: red; */
 /*  border: 3px solid black; */
  
}

p{
  margin: 0;
  padding: 0;
}
#divPoster{

  width: 40%;
}
#containerText{
  width: 60%;
  font-size: 0.7rem;
  padding-left: 2%;
  padding-bottom: 2%;
/*   background-color: green; */
}

#Poster{
  width: 100%;
  height: 100%;
}


#favStar{
margin-left: 80%;
 width: 10%;
}

h1{
  margin-top: 5%;
  color: white;
  text-align: center;
}


#divOpinions{

 
margin-top: 0px;


  font-size: 1.2rem;
padding-bottom: 20%;
}

#opinionUl{

  background-color: green;


}

#opTittle{


  color: red;
}

h2{
   margin-top: -2%;
  margin-left: 20%;
  margin-bottom: -100px;
  color: yellow;

}

h5{
  margin-top: 20px;
  margin-bottom: -20px;
}