:root{
    --black: #000;
    --white: #f7fafe;
    --grey: #a9a9a9;
}

body{
    background-color: black;
    color: var(--white);
    height: 100vh;
}

.divHome{

    background-image: url(.../);
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    height: 10%;

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    font-size: 24px;

}

.input{
    border:solid;
    border-radius: 25px;
}

.boton1{
    border:solid;
    border-radius: 25px;
    background-color: var(--white);
    color: var(--black);
}

.boton2{
    border-radius: 40px;
    background-color: yellow;
    color: var(--black);

}

