
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 30px;
    background-color: blueviolet;
    color:white; 
}
span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 30px;
    background-color: blueviolet;
    /* color:white; */
    color:black;
}
.box {
    display: flex;
    position: fixed; 
    z-index: 1; 
    padding-top: 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}
.boxNone {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
 
}

.box-cont{
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 2%;
    width: 50%;
    text-align: center;
}
.box-cont span {
    width: 100%;
    /* background-color: #008CBA; */
    background-color: white;
}
.box-cont a {
    width: 100%;
    background-color: #008CBA;
    cursor: pointer;
}